.address {
  width: 100%;
  margin: 0;
  padding: 0;
  color: $color-dark-grey;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.address-wrapper--catalog {
  background-color: $color-basic-grey;
}

.address__flex-wrapper {
  display: flex;
  padding: 26px 0;
}

.address__title {
  padding: 0 10px 0 20px;
  margin: 0 5px 0 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-light-black;
}

.address__link {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  text-decoration: none;
  color: $color-dark-grey;
  line-height: 20px;
}

.address__map {
  width: 100%;
  height: 362px;
  flex-grow: 1;
  border: none;
  display: block;
}

@media (min-width: $tablet-width) {
  .address {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .address-wrapper {
    padding: 0;
  }

  .address__link:hover {
    opacity: 0.6;
  }

  .address__link:focus {
    opacity: 0.3;
  }

  .address-wrapper--form {
    background-color: $color-basic-grey;
  }

  .address__flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 70px 45px;
  }

  .address__title {
    font-size: 20px;
    line-height: 130%;
    padding-right: 160px;
    padding-left: 0;
    text-align: left;
  }

  .address__link {
    font-size: 16px;
    line-height: 125%;
    padding-left: 140px;
    padding-right: 0;
    text-align: right;
  }

  .address__title-city {
    line-height: 350%;
  }

  .address__map {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    width: 100%;
    padding: 0;
  }

  .address-wrapper {
    width: 100%;
    max-height: 400px;
    padding: 0;
  }

  .address__wrapper {
    max-width: $desktop-width;
    position: relative;
    top: 0;
    left: -610px;
    margin: 0 auto;
  }

  .address__flex-wrapper {
    padding: 59px 80px 43px;
    margin: 0 auto;
    position: absolute;
    top: 95px;
    left: 0;
    min-width: 565px;
    background-color: $color-white;
  }

  .address__title {
    padding: 0;
    padding-right: 45px;
    text-align: left;
    font-size: 20px;
    line-height: 130%;
  }

  .address__link {
    text-align: left;
    font-size: 16px;
    line-height: 125%;
    padding-left: 45px;
    padding-right: 0;
  }

  .address__map {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
