.advantages__text {
  position: relative;
  margin: 0;
  padding: 0 5px 0 80px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark-grey;
}
