.advantages {
  width: 100%;
  margin-bottom: 49px;
  padding: 0;
}

.advantages__title {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 111%;
  color: $color-black;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  display: block;
  margin-bottom: 20px;
}

.advantages__text {
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 5px 0 80px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: $color-dark-grey;
}

.advantages__icon::before {
  position: absolute;
  left: 0;
  content: " ";
  width: 60px;
  height: 60px;
}

.advantages__icon-4::before {
  background-color: $color-basic-green;
  background-image: url("/img/icon_alarm.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon-3::before {
  background-color: $color-basic-green;
  background-image: url("../img/icon_eat.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon-2::before {
  background-color: $color-basic-green;
  background-image: url("../img/icon_tub.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon-1::before {
  background-color: $color-basic-green;
  background-image: url("../img/icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: auto;
    max-width: 1220px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border-advantages;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 57px;
    counter-reset: advantages;
  }

  .advantages__item {
    position: relative;
    min-width: 230px;
    max-width: 250px;
    margin-bottom: 94px;
  }

  .advantages__item::after {
    position: absolute;
    left: 115px;
    z-index: -2;
    counter-increment: advantages;
    content: counter(advantages);
    color: $color-grey;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 100%;
  }

  .advantages__icon::before {
    top: -111px;
    width: 80px;
    height: 80px;
  }

  .advantages__text {
    margin-top: 151px;
    display: inline-block;
    padding-left: 0;
    font-size: 16px;
    line-height: 150%;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    max-width: 1440px;
    padding-bottom: 0;
    margin-bottom: 27px;
    border: none;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 75px;
  }

  .advantages__item {
    min-width: 250px;
    margin-bottom: 65px;
  }
}
