.advantages__icon-3::before {
  position: absolute;
  left: 0;
  content: " ";
  width: 60px;
  height: 60px;
  background-color: $color-basic-green;
  background-image: url("/img/icon/icon_eat.svg");
  background-repeat: no-repeat;
  background-position: center;
}
