.button {
  margin: 0;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-basic-green;
}
