.card {
  position: relative;
  width: 100%;
}

.card::after {
  position: absolute;
  content: " ";
  height: 1px;
  bottom: 0;
  left: -20px;
  right: -20px;
  background-color: $color-border-catalog;
  z-index: -1;
}

.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7px;
  margin-bottom: 10px;
  padding-top: 14px;
}

.card__list-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: $color-dark-grey;
}

.card__link {
  display: inline-block;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-right: 66px;
  text-decoration: none;
  color: $color-dark-grey-2;
}

.card__link-title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-dark-grey-2;
}

.card__link-img {
  padding: 0 28px;
}

.card__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 112px;
  padding-top: 9px;
}

.card__img-container--small {
  align-items: top;
  padding-top: 0;
}

.card__img--fish-500 {
  margin-top: 18px;
}

.card__img--buckwheat-500 {
  margin-top: 24px;
}

.card__img--rice-500 {
  margin-top: 20px;
}

.card__button-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .card {
    width: 100%;
    padding: 0 36px 39px;
    margin: 0;
    background-color: $color-white;
    background-image: linear-gradient(to bottom, $color-white $height-tablet-card-bg, $color-grey $height-tablet-card-bg 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
  }

  .card::after {
    display: none;
  }

  .card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 252px;
    margin: 0;
  }

  .card__wrapper {
    margin-bottom: 33px;
  }

  .card__link {
    min-width: 174px;
    padding: 0 20px;
    margin-bottom: 13px;
  }

  .card__img-container {
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: 168px;
    height: 200px;
    margin: 0 42px 28px;
  }

  .card__link-img {
    padding: 0;
  }

  .card__img {
    position: relative;
    bottom: 0;
  }

  .card__img--chicken-500 {
    width: 161px;
    height: 172px;
  }

  .card__img--chicken-1000 {
    width: 168px;
    height: 200px;
  }

  .card__img--fish-500 {
    width: 163px;
    height: 174px;
  }

  .card__img--fish-1000 {
    width: 168px;
    height: 200px;
  }

  .card__img--buckwheat-500 {
    width: 161px;
    height: 171px;
  }

  .card__img--buckwheat-1000 {
    width: 168px;
    height: 200px;
  }

  .card__img--rice-500 {
    width: 163px;
    height: 174px;
  }

  .card__link-title {
    min-height: 48px;
    text-align: center;
    font-size: 20px;
    line-height: 120%;
    padding: 0 39px;
  }
}

@media (min-width: $desktop-width) {
  .card {
    max-width: 245px;
    padding: 0 35px 40px 38px;
  }

  .card__container {
    min-width: 0;
    margin: 0;
    padding-top: 9px;
  }

  .card__img-container {
    width: 172px;
    height: 196px;
    margin: 0 4px 36px;
  }

  .card__img--chicken-1000 {
    width: 172px;
    height: 201.94px;
  }

  .card__img--fish-1000 {
    width: 172px;
    height: 196px;
  }

  .card__img--buckwheat-1000 {
    width: 172px;
    height: 196px;
  }

  .card__wrapper {
    margin: 0 30px 31px 30px;
  }

  .card__link {
    padding: 0;
    margin-bottom: 14px;
  }

  .card__link-title {
    line-height: 105%;
    padding: 0 15px;
  }
}
