.card-add__title {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $color-dark-grey-2;
  text-transform: uppercase;
}
