.card__link-title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-dark-grey-2;
}
