.card-add {
  width: 100%;
}

.card-add__weight {
  margin: 0;
  padding: 0;
  line-height: 14px;
}

.card-add__title {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $color-dark-grey-2;
  text-transform: uppercase;
}

.card-add__price {
  margin: 0;
  padding: 0;
  line-height: 100%;
  text-align: right;
  color: $color-dark-grey;
}

.card-add__wrapper {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.card-add__button-wrapper {
  display: flex;
  flex-direction: column;
}

.card-add__button {
  min-width: 282px;
}

@media (min-width: $tablet-width) {
  .card-add {
    width: 100%;
  }

  .card-add__title {
    padding: 0;
    font-size: 20px;
    line-height: 100%;
    color: $color-dark-grey-2;
  }

  .card-add__container {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
  }

  .card-add__wrapper {
    width: calc(100% / 3);
    display: flex;
    justify-content: space-between;
  }

  .card-add__weight {
    text-align: left;
    font-size: 16px;
    line-height: 125%;
  }

  .card-add__price {
    font-size: 16px;
    line-height: 125%;
  }

  .card-add__button-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .card-add {
    width: 100%;
  }

  .card-add__title {
    padding: 0;
  }

  .card-add__container {
    padding: 0;
    min-width: 244px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .card-add__wrapper {
    width: 100%;
    justify-content: space-between;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .card-add__button-wrapper {
    margin-bottom: 0;
  }

  .card-add__button {
    min-width: 244px;
    padding: 10px 91px;
  }
}
