.catalog-add {
  width: 100%;
  margin: 0;
  margin-bottom: 35px;
}

.catalog-add__decoration {
  position: relative;
}

.catalog-add__decoration::before {
  position: absolute;
  content: " ";
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: $color-basic-green;
  z-index: -1;
}

.catalog-add__title {
  display: inline-block;
  margin: 0;
  padding: 25px 20px 34px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: $color-black;
  background-color: $color-white;
}

.catalog-add__list {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid $color-special-grey;
}

.catalog-add__card-add {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid $color-special-grey;
}

@media (min-width: $tablet-width) {
  .catalog-add {
    width: 100%;
    margin-bottom: 76px;
  }

  .catalog-add__title-container {
    max-width: 100%;
    margin: 0 30px;
  }

  .catalog-add__title {
    display: inline-block;
    background-color: $color-white;
    padding: 0 36px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 100%;
    color: $color-black;
  }

  .catalog-add__list {
    margin-top: 76px;
    margin-bottom: 69px;
  }

  .catalog-add__card-add {
    padding: 25px 38px 29px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-add {
    width: 100%;
    margin-bottom: 86px;
  }

  .catalog-add__title-container {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 110px;
  }

  .catalog-add__title {
    padding: 0 35px 0 40px;
    margin-left: -40px;
  }

  .catalog-add-wrapper {
    max-width: $desktop-width;
    margin-top: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 245px;
    column-gap: 80px;
  }

  .catalog-add__card-add {
    padding: 15px 0 16px;
    display: flex;
    justify-content: space-between;
  }

  .catalog-add__list {
    grid-column: 1 / 4;
    margin: 0;
  }
}
