.catalog-promo {
  width: 100%;
  margin: 0 0 35px;
  padding: 0;
  background-color: $color-basic-green;
  background-image: url("/img/catalog/catalog_background_1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

@media (min-resolution: 2dppx) {
  .catalog-promo {
    background-color: $color-basic-green;
    background-image: url("/img/catalog/catalog_background_2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
  }
}

.catalog-promo__wrapper {
  margin: 0 20px;
}

.catalog-promo__wrapper-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.catalog-promo__icon {
  margin: 58px 0 50px;
  z-index: 0;
  text-align: center;
}

.catalog-promo__text {
  margin: 0;
  padding: 0 35px 42px 30px;
  color: $color-white;
  text-align: center;
  font-size: 16px;
  line-height: 125%;
}

@media (min-width: $tablet-width) {
  .catalog-promo {
    width: 100%;
    margin-bottom: 76px;
  }

  .catalog-promo__wrapper {
    padding: 5px 57px 5px 79px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-promo__wrapper-icon {
    justify-content: left;
  }

  .catalog-promo__icon {
    margin: 50px 0 59px;
  }

  .catalog-promo__text {
    padding: 30px 61px 23px 93px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .catalog-promo {
    width: 100%;
    margin-bottom: 0;
  }

  .catalog-promo__wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .catalog-promo__wrapper-icon {
    justify-content: center;
  }

  .catalog-promo__icon {
    margin: 55px 0 50px;
  }

  .catalog-promo__text {
    display: block;
    padding: 0 40px;
    text-align: center;
  }
}
