.catalog {
  width: 100%;
  margin: 0;
  padding: 27px 0 0;
  border-top: 1px solid $color-border-catalog;
}

.catalog__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0 20px 41px;
  border-bottom: 1px solid $color-border-catalog;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $color-black;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__card {
  margin: 0;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 100%;
    padding-top: 0;
    margin-bottom: 43px;
    border: none;
  }

  .catalog__title {
    border: none;
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 41px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: grid;
    width: 100%;
    padding-bottom: 76px;
    margin-bottom: 0;
  }

  .catalog__title {
    padding: 0;
    padding-bottom: 41px;
    margin-bottom: 84px;
    font-size: 60px;
    line-height: 100%;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 63px;
  }
}
