.catalog {
  width: auto;
  // margin: 0 auto;
  padding: 27px 0 0;
  border-top: 1px solid $color-border-catalog;
}

.catalog__title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding: 0 0 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $color-black;
}

.catalog__title::after {
  position: absolute;
  content: " ";
  height: 1px;
  bottom: 0;
  left: -20px;
  right: -20px;
  background-color: $color-border-catalog;
  z-index: -1;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__card {
  margin: 0;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: auto;
    padding-top: 0;
    margin-bottom: 70px;
    border: none;
  }

  .catalog__title {
    border: none;
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 43px;
  }

  .catalog__title::after {
    left: -30px;
    right: -30px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: grid;
    width: auto;
    padding-bottom: 76px;
    margin-bottom: 0;
  }

  .catalog__title {
    padding: 0;
    padding-bottom: 41px;
    margin-bottom: 44px;
    font-size: 60px;
    line-height: 100%;
  }

  .catalog__title::after {
    display: none;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 63px;
  }
}
