.filter__border {
  border-bottom: 1px solid $color-border-grey;
}

.filter__about {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  border: none;
}

.filter__about-wrapper {
  margin: 0 0 13px;
  display: flex;
  flex-wrap: nowrap;
}

.filter__about-label {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  margin-right: 13px;
  text-transform: uppercase;
}

.filter__about-field {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid $color-border-form;
  appearance: none;
}

.filter__about-field::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $color-dark-grey;
}

.filter__radio {
  padding-top: 22px;
  padding-bottom: 19px;
  border: none;
}

.filter__radio-label {
  margin: 0;
  padding: 0;
  padding-left: 45px;
  text-transform: uppercase;
}

.filter__radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__radio-item {
  padding-bottom: 13px;
}

.filter__contacts {
  width: 100%;
  margin: 0;
  margin-top: 26px;
  padding: 0 0 23px;
  border: none;
}

.filter__decoration {
  position: relative;
}

.filter__decoration::before {
  position: absolute;
  top: 50%;
  content: " ";
  width: 100%;
  height: 2px;
  background-color: $color-basic-green;
  z-index: -1;
}

.filter__decoration-container {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
}

.filter__contacts-subtitle {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: $color-black;
  background-color: $color-white;
}

.filter__contacts-container {
  margin-top: 35px;
}

.filter__contacts-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 13px;
}

.filter__contacts-label {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  padding-right: 11px;
  text-transform: uppercase;
}

.filter__contacts-field {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 13px 15px;
  border: 1px solid $color-border-form;
  appearance: none;
}

.filter__contacts-field::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $color-dark-grey;
}

.filter__contacts-icon {
  position: absolute;
  right: 35px;
}

.filter__comment {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  border: none;
}

.filter__comment-subtitle {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: $color-black;
  background-color: $color-white;
}

.filter__comment-label {
  margin: 0;
  padding: 0;
}

.filter__comment-field {
  width: 100%;
  margin: 0;
  margin-top: 37px;
  padding: 0 15px;
  min-height: 150px;
  border: 1px solid $color-border-form;
  appearance: none;
}

.filter__comment-field::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $color-dark-grey;
  padding: 10px;
  text-align: center;
}

.filter__checkbox {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 11px;
  border: none;
}

.filter__checkbox-subtitle {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: $color-black;
  background-color: $color-white;
}

.filter__checkbox-list {
  list-style: none;
  margin-top: 34px;
}

.filter__checkbox-item {
  padding-bottom: 13px;
}

.filter__checkbox-label {
  margin: 0;
  padding: 0;
  padding-left: 44px;
  padding-bottom: 15px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter__checkbox-field {
  margin: 0;
  padding: 0;
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;
}

.filter__button {
  margin-bottom: 21px;
  padding: 7px 44px;
}

@media (min-width: $tablet-width) {
  .filter__about {
    width: 100%;
    padding: 0 37px 0 41px;
    margin-bottom: 72px;
  }

  .filter__about-wrapper {
    margin-bottom: 20px;
    padding: 0 37px 0 40px;
  }

  .filter__about-label {
    font-size: 20px;
    line-height: 150%;
  }

  .filter__about-field {
    font-size: 20px;
    line-height: 150%;
  }

  .filter__about-field:hover {
    border: 1px solid $color-special-grey;
  }

  .filter__about-field:focus {
    border: 1px solid $color-dark-grey;
  }

  .filter__about-field--error {
    border: 2px solid $color-error;
  }

  .filter__about-field::placeholder {
    font-size: 20px;
    line-height: 150%;
    padding: 10px 18px;
  }

  .filter__border {
    border: none;
  }

  .filter__radio {
    width: 100%;
    padding: 0 37px 0 41px;
    margin-bottom: 71px;
  }

  .filter__radio-list {
    margin: 0 37px 0 40px;
    padding: 25px;
    border: 1px solid $color-border-form;
  }

  .filter__radio-label {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 13px;
    padding-left: 59px;
  }

  .filter__contacts {
    width: 100%;
    margin-bottom: 65px;
    padding-bottom: 0;
  }

  .filter__decoration-container {
    margin: 0 30px;
  }

  .filter__contacts-subtitle {
    display: inline-block;
    max-width: 100%;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 0;
    padding: 0 40px;
  }

  br {
    display: none;
  }

  .filter__contacts-container {
    margin-top: 76px;
  }

  .filter__contacts-wrapper {
    padding: 0 35px 0 41px;
  }

  .filter__contacts-label {
    font-size: 20px;
    line-height: 100%;
    padding: 0 18px 0 0;
  }

  .filter__contacts-field {
    padding: 10px 21px;
    font-size: 20px;
    line-height: 150%;
  }

  .filter__contacts-field:hover {
    border: 1px solid $color-special-grey;
  }

  .filter__contacts-field:focus {
    border: 1px solid $color-dark-grey;
  }

  .filter__contacts-field--error {
    border: 2px solid $color-error;
  }

  .filter__contacts-icon {
    position: absolute;
    right: 84px;
  }

  .filter__contacts-wrapper:focus-within * {
    stroke: $color-basic-green;
  }

  .filter__contacts-wrapper--error * {
    stroke: $color-error;
  }


  .filter__contacts-field::placeholder {
    font-size: 20px;
    line-height: 100%;
  }

  .filter__comment {
    width: 100%;
    margin-bottom: 65px;
  }

  .filter__comment-subtitle {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 0;
    padding: 0 40px;
  }

  .filter__comment .container {
    padding: 0 70px;
  }

  .filter__comment-field {
    margin-top: 76px;
    padding: 10px 19px;
  }

  .filter__comment-field::placeholder {
    font-size: 20px;
    line-height: 150%;
    text-align: left;
  }

  .filter__checkbox {
    width: 100%;
  }

  .filter__checkbox-subtitle {
    padding: 0 40px;
    font-size: 36px;
    line-height: 100%;
  }

  .filter__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 57px;
    margin-bottom: 22px;
    padding: 0 70px;
  }

  .filter__checkbox-item {
    width: 50%;
    padding-bottom: 59px;
  }

  .filter__checkbox-label {
    font-size: 20px;
    line-height: 150%;
    padding-left: 59px;
  }

  .filter__button-wrapper {
    display: flex;
    flex-direction: row;
  }

  .filter__button {
    font-size: 20px;
    line-height: 100%;
    padding: 13px 45px;
    margin-left: 40px;
    margin-right: 61px;
  }

  .form__meta {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .filter__flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 65px;
    padding: 0 110px;
  }

  .filter__border {
    display: none;
  }

  .filter__about {
    min-width: calc(50% - 110px);
    padding: 0;
    margin: 0;
    grid-column: 1 / 2;
  }

  .filter__about-wrapper {
    padding: 0;
  }

  .filter__radio {
    min-width: calc(50% - 110px);
    padding: 0;
    margin: 0;
    grid-column: 2 / 3;
  }

  .filter__radio-list {
    margin: 0;
  }

  .filter__decoration-container {
    margin: 0 auto;
    max-width: $desktop-width;
    padding: 0 110px;
  }

  .filter__contacts {
    width: 100%;
    margin-top: 0;
    margin-bottom: 69px;
  }

  .filter__contacts-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: $desktop-width;
  }

  .filter__contacts-wrapper {
    width: 50%;
    padding: 0;
  }

  .filter__contacts-wrapper:not(:last-child) {
    margin-right: 78px;
  }

  .filter__contacts-subtitle {
    padding: 0 40px;
    margin-left: -40px;
  }

  .filter__contacts-field {
    font-size: 20px;
    line-height: 150%;
  }

  .filter__contacts-email {
    position: relative;
  }

  .filter__contacts-icon {
    position: absolute;
    right: 22px;
  }

  .filter__contacts-tel {
    position: relative;
  }

  .filter__comment {
    width: 100%;
    padding: 0;
  }

  .filter__comment-subtitle {
    padding: 0 40px;
    margin-left: -40px;
  }

  .filter__comment .container {
    padding: 0 110px;
    margin: 0 auto;
    max-width: $desktop-width;
  }

  .filter__checkbox {
    width: 100%;
    padding-left: 0;
  }

  .filter__checkbox-subtitle {
    margin-left: -40px;
  }

  .filter__checkbox-list {
    padding: 0 110px;
    margin-left: auto;
    margin-right: auto;
    max-width: $desktop-width;
  }

  .filter__checkbox-item {
    width: calc(100% / 4);
  }

  .filter__button-wrapper {
    margin: 0 auto;
    max-width: $desktop-width;
  }

  .filter__button {
    padding: 14px 188px;
    margin-right: 81px;
    margin-left: 0;
  }
}
