.footer {
  width: auto;
  padding: 0;
  background-color: $color-basic-grey;
}

.footer__socials {
  text-align: center;
  padding: 20px 74px;
  border-top: 1px solid $color-border-grey;
  border-bottom: 1px solid $color-border-grey;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 39px 0 32px;
}

.footer__logo-academy {
  padding: 28px 0 32px;
  display: flex;
  justify-content: center;
}

.footer__link {
  display: inline-block;
  opacity: 0.28;
}

@media (min-width: $tablet-width) {
  .footer {
    width: auto;
  }

  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__socials {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: auto;
  }
}
