.form {
  width: 100%;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: $color-dark-grey;
  border-top: 1px solid $color-border-grey;
}

.form__title {
  margin: 0;
  padding: 0;
  padding-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $color-black;
}

.form__text {
  margin: 0;
  padding: 0 54px 39px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: $color-black;
}

.form__meta {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 114%;
  color: $color-black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 0;
    border: none;
    margin-bottom: 72px;
  }

  .form__title {
    font-size: 60px;
    line-height: 100%;
    color: $color-black;
    padding: 0 39px;
    margin-bottom: 54px;
  }

  .form__text {
    font-size: 20px;
    line-height: 150%;
    padding: 0 40px;
    margin-bottom: 67px;
    max-width: 463px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 100%;
    margin-bottom: 82px;
  }

  .form-container {
    margin: 0 auto;
    max-width: $desktop-width;
  }

  .form__title {
    padding-left: 0;
  }

  .form__text {
    padding-left: 0;
    max-width: 430px;
  }
}
