.form {
  margin: 0;
  padding: 27px 20px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-dark-grey;
}

.form__title {
  margin: 0;
  padding: 0;
  padding-bottom: 37px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
}

.form__text {
  margin: 0;
  padding: 0 0 39px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black;
}

.form__meta {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
  text-align: center;
}
