.header {
  width: auto;
  padding: 10px 0 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  background-color: $color-white;
}

.header-wrapper {
  margin: 0 auto;
}

.header__logo-wrapper {
  padding: 0 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid $color-border-advantages;
}

.header__menu {
  display: block;
}

@media (min-width: $tablet-width) {
  .header {
    width: auto;
    padding: 24px 30px 64px;
  }

  .header-wrapper {
    display: grid;
    grid-template-columns: auto minmax(auto, 1166px);
    justify-content: center;
    align-items: center;
  }

  .header__logo-wrapper {
    border-bottom: none;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 54px 0 64px;
    background-color: transparent;
    z-index: 2;
  }

  .header--bg {
    position: absolute;
  }

  .header-wrapper {
    display: grid;
    grid-template-columns: auto 610px;
    justify-content: center;
    align-items: center;
    // max-width: $desktop-width;
    // padding: 0 110px;
  }

  .header__logo-wrapper {
    grid-column: 1 / 2;
  }

  .header__menu {
    grid-column: 2 / 3;
  }
}
