.header {
  width: 100%;
  padding: 10px 0 17px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  background-color: $color-white;
}

.header__toggle {
  width: 24px;
  height: 16px;
  border: none;
}

.header__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .header {
    width: 100%;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }

  .header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin: 0;
    margin-bottom: 82px;
    padding: 0;
    padding-top: 53px;
    width: 100%;
    background-image: url("../img/promo_background_desktop.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: top right;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__toggle {
    display: none;
  }
}
