.list-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.list-description__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 142px;
}

.list-description__value {
  margin: 0;
  padding: 0;
}

.list-description__key {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .list-description__key {
    font-size: 16px;
    line-height: 100%;
  }

  .list-description__value {
    font-size: 16px;
    line-height: 100%;
    text-align: center;
  }

  .list-description__wrapper {
    max-width: 100%;
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-special-grey;
  }
}

@media (min-width: $desktop-width) {
  .list-description__wrapper {
    padding: 5.5px;
    padding-bottom: 10px;
  }
}
