.list-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.list-description__wrapper {
  display: flex;
  justify-content: space-between;
}

.list-description__value {
  margin: 0;
  padding: 0;
}

.list-description__key {
  margin: 0;
  padding: 0;
}
