.logo-alternative {
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .page-catalog .logo-alternative,
  .page-form .logo-alternative {
    display: block;
    margin-right: 60px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:focus-within {
      opacity: 0.6;
    }
  }

  .logo-alternative__img {
    display: block;
    width: 174px;
    height: 51px;
  }
}

@media (min-width: $desktop-width) {
  .logo-alternative__img {
    display: block;
    width: 202px;
    height: 59px;
  }
}
