.logo-mobile {
  display: inline-block;
  margin: 0;
  margin-right: 50px;
  padding: 0;
}

.logo-mobile__icon-mobile {
  position: relative;
}

.logo-mobile__icon-label {
  position: absolute;
  left: calc(50vw - 50px);
  top: 24px;
}

.logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo-mobile {
    display: none;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 94px;
    cursor: pointer;
    height: 52px;

    &:hover {
      opacity: 0.8;
    }

    &:focus-within {
      opacity: 0.6;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    margin-right: 408px;
    width: 202px;
    height: 59px;
  }
}
