.menu__content-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 1;
  }
}
