.pagination__text {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-light-black;
  text-align: center;
}
