.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
}

.programs__item {
  position: relative;
  margin: 0 0 20px;
  padding: 21px 20px 0;
  background-color: $color-basic-grey;
}

.programs__item--slim::before {
  position: absolute;
  content: " ";
  width: 50px;
  height: 53px;
  top: 21px;
  left: 22px;
  background-image: url("../img/icon/cat_slim.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.programs__item--pro::before {
  position: absolute;
  content: " ";
  width: 67px;
  height: 50px;
  top: 24px;
  left: 13px;
  background-image: url("../img/icon/cat_pro.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.programs__item-subtitle {
  white-space: nowrap;
  margin: 0 0 20px 71px;
  padding: 9px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: $color-black;
}

.programs__item-text {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
}

.programs__wrapper-link {
  display: flex;
  align-items: center;
  padding: 15px 25px 18px 0;
  border-top: 1px solid $color-border-grey;
}

.programs__link {
  min-width: 165px;
  display: block;
  padding: 4px 22px 4px 0;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: $color-black;
  text-decoration: none;
}

.programs__link-icon {
  width: 24px;
  padding: 0;
  margin-left: 12px;
}

.programs__link:hover .programs__link-icon {
  width: 32px;
}

.programs__link:focus,
.programs__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .programs {
    width: 100%;
    margin-bottom: 45px;
  }

  .programs__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 30px;
    padding: 77px 62px 53px 52px;
  }

  .programs__item--slim::before {
    width: 200px;
    height: 211px;
    top: 81px;
    left: 446px;
  }

  .programs__item--pro::before {
    width: 268px;
    height: 200px;
    top: 91px;
    left: 412px;
  }

  .programs__item-subtitle {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 36px;
    line-height: 100%;
  }

  .programs__item-text {
    max-width: 340px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 48px;
  }

  .programs__wrapper-link {
    border: none;
    padding: 0;
  }

  .programs__link {
    font-size: 20px;
    line-height: 150%;
  }

  .programs__link-icon {
    margin-left: 22px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 100%;
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    margin-bottom: 42px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    max-width: 570px;
    padding: 77px 51px 55px 52px;
  }

  .programs__item:not(:last-child) {
    margin-right: 80px;
  }

  .programs__item--slim::before {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }

  .programs__item--pro::before {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
  }

  .programs__item-subtitle {
    margin: 0 0 73px 162px;
  }

  .programs__item-text {
    max-width: 467px;
    margin-bottom: 23px;
  }
}
