.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
}

.programs__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 20px;
  margin: 0 0 20px;
  padding: 21px 20px 0;
  background-color: $color-basic-grey;
}

// .programs__item--slim::before {
//   position: absolute;
//   content: " ";
//   width: 50px;
//   height: 53px;
//   top: 21px;
//   left: 22px;
//   background-image: url("../img/cat_slim.svg");
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
// }

// .programs__item--pro::before {
//   position: absolute;
//   content: " ";
//   width: 67px;
//   height: 50px;
//   top: 24px;
//   left: 13px;
//   background-image: url("../img/cat_pro.svg");
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
// }

.programs__item-subtitle {
  word-break: break-all;
  white-space: normal;
  z-index: 0;
  margin: 0 0 20px 0;
  padding: 9px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: $color-black;
}

.programs__img {
  width: 100%;
  height: auto;
  order: -1;
  overflow: visible;
  object-fit: contain;
}

.programs__item-text {
  grid-column: 1 / -1;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
}

.programs__wrapper-link {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding: 15px 25px 18px 0;
  border-top: 1px solid $color-border-grey;
}

.programs__link {
  min-width: 165px;
  display: block;
  padding: 4px 22px 4px 0;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: $color-black;
  text-decoration: none;
}

.programs__link-icon {
  width: 24px;
  padding: 0;
  margin-left: 12px;
}

.programs__link:hover .programs__link-icon {
  width: 32px;
}

.programs__link:focus,
.programs__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .programs {
    position: relative;
    width: 100%;
    margin-top: -54px;
    margin-bottom: 45px;
  }

  .programs__item {
    display: grid;
    grid-template-columns: 1fr 200px;
    column-gap: 54px;
    margin: 0;
    margin-bottom: 30px;
    padding: 77px 62px 53px 52px;
  }

  // .programs__item--slim::before {
  //   width: 200px;
  //   height: 211px;
  //   top: 78px;
  //   left: 446px;
  // }

  // .programs__item--pro::before {
  //   width: 268px;
  //   height: 200px;
  //   top: 91px;
  //   left: 412px;
  // }

  .programs__item-subtitle {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 36px;
    line-height: 100%;
  }

  .programs__img {
    order: 1;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  .programs__img--slim {
    position: relative;
    top: 2px;
  }

  .programs__img--pro {
    position: relative;
    width: 267px;
    left: -28px;
    top: 12px;
  }

  .programs__item-text {
    grid-column: 1 / 2;
    max-width: 340px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 48px;
  }

  .programs__wrapper-link {
    grid-column: 1 / 2;
    border: none;
    padding: 0;
  }

  .programs__link {
    font-size: 20px;
    line-height: 150%;
  }

  .programs__link-icon {
    margin-left: 22px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 100%;
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    margin-bottom: 42px;
    margin-top: auto;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    grid-template-columns: 100px 1fr;
    align-items: center;
    column-gap: 64px;
    max-width: 570px;
    padding: 77px 52px 55px;
  }

  .programs__item:not(:last-child) {
    margin-right: 80px;
  }

  // .programs__item--slim::before {
  //   width: 100px;
  //   height: 106px;
  //   top: 41px;
  //   left: 52px;
  // }

  // .programs__item--pro::before {
  //   width: 134px;
  //   height: 100px;
  //   top: 47px;
  //   left: 33px;
  // }

  .programs__item-subtitle {
    margin: 0;
    margin-bottom: 68px;
    grid-column: 2 / 3;
  }

  .programs__img {
    order: -1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .programs__img--slim {
    width: 100%;
    height: auto;
    top: -35px;
  }

  .programs__img--pro {
    width: 134px;
    height: auto;
    top: -33px;
    left: -12px;
  }

  .programs__item-text {
    max-width: 467px;
    margin-top: 5px;
    margin-bottom: 20px;
    grid-column: 1 / -1;
  }

  .programs__wrapper-link {
    grid-column: 1 / -1;
  }
}
