.promo__link-button {
  color: $color-white;
  background-color: $color-basic-green;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 7px 44px;
}
