.promo {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  background-color: $color-basic-green;
  background-image: linear-gradient(to bottom, $color-basic-green $height-mobile-bg, $color-white $height-mobile-bg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
  position: relative;
  z-index: 0;

  &::after {
    content: " ";
    width: 100%;
    height: $height-mobile-bg;
    background-image: url("../img/promo_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media (min-resolution: 2dppx) {
  .promo::after {
    background-image: url("../img/promo_background2x.jpg");
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $color-white;
  text-align: center;
}

.promo__text {
  margin: 0;
  padding: 0 40px 30px;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.promo__link-button {
  display: flex;
  justify-content: center;
  color: $color-white;
  background-color: $color-basic-green;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 11px 44px;
  margin: 0 20px;
}

.promo__background-wrapper {
  padding: 28px 0 0;
}

.promo__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 100%;
    margin-bottom: 0;
    background-color: $color-white;
    background-image: none;

    &::after {
      content: none;
    }
  }

  .promo-wrapper {
    display: flex;
    flex-direction: column;
  }

  .promo__background-wrapper {
    padding: 0;
  }

  .promo__title {
    margin-bottom: 41px;
    padding-right: 230px;
    padding-left: 117px;
    text-align: left;
    color: $color-black;
    font-size: 60px;
    line-height: 100%;
  }

  .promo__text {
    margin-bottom: 20px;
    padding: 0;
    padding-left: 119px;
    text-align: left;
    color: $color-black;
    font-size: 20px;
    line-height: 100%;
  }

  .promo__button-wrapper {
    position: relative;
    top: -580px;
  }

  .promo__link-button {
    max-width: 244px;
    margin-left: 120px;
    box-sizing: border-box;
    display: block;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 100%;
    color: $color-white;
  }

  .promo__link-button:hover {
    background-color: $color-green-hover;
  }

  .promo__link-button:focus {
    color: transparentize($color-white, 0.3);
  }

  .promo__img {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    display: grid;
    grid-auto-columns: 1220px;
    justify-content: center;
    align-items: end;
    align-content: end;
    width: 100%;
    min-height: 694px;
    margin-bottom: 82px;
    background-color: transparent;
    background-image: linear-gradient(to bottom, $color-basic-green $height-desktop-bg, $color-white $height-desktop-bg);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: top right;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      content: " ";
      width: 50%;
      height: 100%;
      background-image: url("../img/promo_background_desktop.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
    }
  }

  @media (min-resolution: 2dppx) {
    .promo::after {
      background-image: url("../img/promo_background_desktop2x.png");
    }
  }

  .promo-wrapper {
    position: relative;
    display: block;
  }

  .promo__background-wrapper {
    background-color: transparent;
    padding: 0;
  }

  .promo__title {
    max-width: 500px;
    text-align: left;
    padding: 111px 0 0 80px;
    margin-bottom: 40px;
  }

  .promo__text {
    margin-bottom: 52px;
    padding-left: 80px;
    text-align: left;
  }

  .promo__img {
    position: absolute;
    top: 28px;
    left: 448px;
    width: 552px;
    height: 499px;
    background-color: transparent;
  }

  .promo__button-wrapper {
    top: 0;
    padding-bottom: 185px;
  }

  .promo__link-button {
    margin-left: 80px;
  }
}
