.promo__title {
  margin: 0;
  padding: 27px 10px 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-white;
  text-align: center;
}
