.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: auto;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: auto;
    padding: 0 110px;
    margin: 0 auto;
  }
}
