body {
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: $color-dark-grey;
  background-color: $color-white;
}

.img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
