$color-white: #ffffff;
$color-dark-grey: #444444;
$color-dark-grey-2: #222222;
$color-basic-green: #68b738;
$color-black: #000000;
$color-light-black: #111111;
$color-basic-grey: #f2f2f2;
$color-grey: #eaeaea;
$color-border-grey: #d9d9d9;
$color-border-catalog: #ebebeb;
$color-border-form: #e7e7e7;
$color-border-advantages: #e6e6e6;
