@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  background-color: #ffffff;
}

.container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: auto;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: auto;
    padding: 0 110px;
    margin: 0 auto;
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.header {
  width: 100%;
  padding: 10px 0 17px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  background-color: #ffffff;
}

.header__toggle {
  width: 24px;
  height: 16px;
  border: none;
}

.header__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }

  .header__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header {
    margin: 0;
    margin-bottom: 82px;
    padding: 0;
    padding-top: 53px;
    width: 100%;
    background-image: url("../img/promo_background_desktop.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: top right;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__toggle {
    display: none;
  }
}
.logo {
  display: block;
  margin: 0;
  padding: 0;
  width: 33px;
  height: 37px;
}
.logo:hover .logo__img {
  opacity: 0.8;
}
.logo:focus .logo__img {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .logo {
    display: none;
  }
}
.logo-main {
  display: block;
  width: 101px;
  height: 18px;
  padding: 0;
  margin: 0;
}

.logo-main:hover .logo-main__img {
  opacity: 0.8;
}

.logo-main:focus .logo-main__img {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .logo-main {
    display: none;
  }
}
.logo-alternative {
  display: none;
}

@media (min-width: 768px) {
  .logo-alternative {
    display: block;
    margin-right: 94px;
  }
}
.menu {
  margin: 0;
  padding: 0 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  background-color: #ffffff;
}

.menu__content-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__content-link {
  white-space: nowrap;
  display: block;
  padding: 24px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}
.menu__content-link:hover {
  opacity: 0.6;
}
.menu__content-link:focus {
  opacity: 0.3;
}
.menu__content-link:active {
  opacity: 1;
}

.menu__content-item {
  padding: 0;
}

@media (min-width: 768px) {
  .menu {
    width: calc(100% - 268px);
    padding: 0;
  }

  .menu__content-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu__content-item:not(:last-child) {
    padding-right: 35px;
  }

  .menu__content-link {
    display: block;
    font-size: 18px;
    line-height: 133%;
    padding: 0;
    padding-bottom: 10px;
  }

  .menu__content-link--current {
    padding-bottom: 8px;
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1200px) {
  .menu {
    display: flex;
    justify-content: end;
    background-color: transparent;
  }

  .menu__content-link {
    display: block;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    padding-bottom: 10px;
  }

  .menu__content-link--current {
    padding-bottom: 8px;
    border-bottom: 2px solid #ffffff;
  }
}
.promo {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}

.promo__text {
  margin: 0;
  padding: 0 40px 29px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.promo__link-button {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 11px 44px;
  margin: 0 20px;
}

.promo__background-wrapper {
  min-height: 302px;
  padding: 27px 0 0;
  background-color: #68b738;
  background-image: url("../img/promo_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.promo__img {
  display: block;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .promo {
    width: 100%;
    margin-bottom: 0;
  }

  .promo-wrapper {
    display: flex;
    flex-direction: column;
  }

  .promo__background-wrapper {
    min-height: 236px;
    background-image: none;
    background-color: #ffffff;
  }

  .promo__title {
    margin-bottom: 41px;
    padding-right: 190px;
    padding-left: 87px;
    max-width: 500px;
    text-align: left;
    color: #000000;
    font-size: 60px;
    line-height: 100%;
  }

  .promo__text {
    margin-bottom: 20px;
    padding: 0;
    padding-left: 89px;
    text-align: left;
    color: #000000;
    font-size: 20px;
    line-height: 100%;
  }

  .promo__img {
    width: 709px;
    height: 609px;
  }

  .promo__button-wrapper {
    position: relative;
    top: -580px;
  }

  .promo__link-button {
    max-width: 244px;
    margin-left: 91px;
    box-sizing: border-box;
    display: block;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .promo {
    width: 100%;
  }

  .promo__background-wrapper {
    background-color: transparent;
    padding: 0;
  }

  .promo__title {
    max-width: 500px;
    position: relative;
    text-align: left;
    padding: 111px 0 0 80px;
    margin-bottom: 40px;
  }

  .promo__text {
    margin-bottom: 23px;
    padding-left: 80px;
    text-align: left;
  }

  .promo__img {
    position: absolute;
    top: 141px;
    left: 558px;
    width: 552px;
    height: 499px;
    background-color: transparent;
  }

  .promo__button-wrapper {
    padding-bottom: 185px;
  }
}
.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
}

.programs__item {
  position: relative;
  margin: 0 20px 20px;
  padding: 21px 20px 0;
  background-color: #f2f2f2;
}

.programs__item--slim::before {
  position: absolute;
  content: " ";
  width: 50px;
  height: 53px;
  top: 21px;
  left: 22px;
  background-image: url("/img/icon/cat_slim.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.programs__item--pro::before {
  position: absolute;
  content: " ";
  width: 67px;
  height: 50px;
  top: 24px;
  left: 13px;
  background-image: url("/img/icon/cat_pro.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.programs__item-subtitle {
  white-space: nowrap;
  margin: 0 0 20px 71px;
  padding: 9px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: #000000;
}

.programs__item-text {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
}

.programs__wrapper-link {
  display: flex;
  align-items: center;
  padding: 15px 20px 18px;
  border-top: 1px solid #d9d9d9;
}

.programs__link {
  display: block;
  padding: 4px 15px 4px 0;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.programs__link-icon {
  padding: 0;
}

@media (min-width: 768px) {
  .programs {
    width: auto;
    margin-bottom: 25px;
  }

  .programs__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 30px;
    padding: 77px 62px 53px 52px;
  }

  .programs__item--slim::before {
    width: 200px;
    height: 211px;
    top: 81px;
    left: 446px;
  }

  .programs__item--pro::before {
    width: 268px;
    height: 200px;
    top: 91px;
    left: 412px;
  }

  .programs__item-subtitle {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 36px;
    line-height: 100%;
  }

  .programs__item-text {
    max-width: 340px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 48px;
  }

  .programs__wrapper-link {
    border: none;
    padding: 0;
  }

  .programs__link {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (min-width: 1200px) {
  .programs {
    width: auto;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    max-width: 570px;
    padding: 77px 51px 55px 52px;
  }

  .programs__item:not(:last-child) {
    margin-right: 80px;
  }

  .programs__item--slim::before {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }

  .programs__item--pro::before {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
  }

  .programs__item-subtitle {
    margin: 0 0 73px 214px;
  }

  .programs__item-text {
    max-width: 467px;
    margin-bottom: 23px;
  }
}
.advantages {
  margin-bottom: 49px;
  padding: 0 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 111%;
  color: #000000;
}

.advantages__text {
  position: relative;
  margin: 0;
  padding: 0 5px 0 80px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #444444;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  margin-bottom: 24px;
}

.advantages__icon::before {
  position: absolute;
  left: 0;
  content: " ";
  width: 60px;
  height: 60px;
}

.advantages__icon-4::before {
  background-color: #68b738;
  background-image: url("/img/icon/icon_alarm.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon-3::before {
  background-color: #68b738;
  background-image: url("../img/icon/icon_eat.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon-2::before {
  background-color: #68b738;
  background-image: url("../img/icon/icon_tub.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon-1::before {
  background-color: #68b738;
  background-image: url("../img/icon/icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .advantages {
    width: auto;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    counter-reset: advantages;
  }

  .advantages__item {
    position: relative;
    min-width: 230px;
    max-width: 250px;
    margin-bottom: 94px;
  }

  .advantages__item::after {
    position: absolute;
    left: 87px;
    z-index: -2;
    counter-increment: advantages;
    content: counter(advantages);
    color: #eaeaea;
    font-size: 280px;
    line-height: 100%;
  }

  .advantages__icon::before {
    top: -111px;
    width: 80px;
    height: 80px;
  }

  .advantages__text {
    margin-top: 151px;
    display: inline-block;
    padding-left: 0;
    font-size: 16px;
    line-height: 150%;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: auto;
    padding-bottom: 0;
    margin-bottom: 26px;
    border: none;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .advantages__item {
    margin-right: 50px;
  }
}
.example {
  padding: 25px 20px;
  background-color: #eaeaea;
}

.example__wrapper-img {
  margin-bottom: 40px;
}

.example__img {
  margin-bottom: 15px;
}

.example__img-slider {
  display: none;
}

.example__total {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #000000;
  text-transform: uppercase;
}

.example__title {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #444444;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}

.example__item:not(:last-child) {
  margin-right: 32px;
}

.example__item-value {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
}

.example__item-key {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
}

@media (min-width: 768px) {
  .example {
    width: 100%;
    padding: 43px 0 56px;
    background-color: #ffffff;
  }

  .example__title {
    font-size: 60px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 63px;
  }

  .example__text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 54px;
  }

  .example__flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 250px;
  }

  .example__list {
    display: flex;
    justify-content: flex-start;
  }

  .flex-item {
    margin-right: 42px;
  }

  .example__item-key {
    font-size: 14px;
    line-height: 100%;
  }

  .example__item-value {
    font-size: 30px;
    line-height: 123%;
  }

  .example__total {
    max-width: 180px;
    text-align: right;
    font-size: 20px;
    line-height: 100%;
  }

  .example__img {
    display: none;
  }

  .example__img-slider {
    display: flex;
    background-color: #eaeaea;
  }

  .toggle__label {
    font-size: 20px;
    line-height: 150%;
    border-bottom: 1px dashed #000000;
  }
}
@media (min-width: 1200px) {
  .example {
    width: auto;
    padding-top: 43px;
  }

  .example__wrapper {
    display: flex;
  }

  .example__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 76px;
  }

  .example__background-wrapper {
    background-color: #eaeaea;
  }

  .example__text {
    padding: 70px 110px;
    margin: 0;
    font-size: 16px;
    line-height: 150%;
  }

  .example__flex-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .example__list {
    padding: 0 110px 55px;
  }

  .example__item {
    margin: 42px;
  }

  .example__total {
    padding: 0 110px;
    min-width: 366px;
    text-align: center;
  }

  .example__wrapper-img {
    margin-bottom: 0;
  }
}
.toggle {
  border: none;
  background-color: transparent;
}

.toggle__label {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.address {
  width: auto;
  margin: 0;
  padding: 26px 0;
  color: #444444;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
}

.address__flex-wrapper {
  display: flex;
}

.address__title {
  padding: 0 10px 0 20px;
  margin: 0 5px 0 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.address__link {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  text-decoration: none;
  color: #444444;
  line-height: 20px;
}

.address__map {
  margin-top: 26px;
  width: auto;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .address {
    width: auto;
    padding: 0;
  }

  .address__flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 56px 40px;
  }
}
@media (min-width: 1200px) {
  .address {
    width: auto;
    padding: 0;
  }

  .address-wrapper {
    position: relative;
    max-height: 400px;
    padding: 0;
  }

  .address__flex-wrapper {
    position: absolute;
    top: 111px;
    left: 110px;
    max-width: 565px;
    background-color: #ffffff;
  }

  .address__title {
    font-size: 20px;
    line-height: 130%;
  }

  .address__link {
    font-size: 16px;
    line-height: 125%;
  }

  .address__map {
    width: auto;
    text-align: center;
  }
}
.footer {
  width: auto;
  padding: 0 20px;
  background-color: #f2f2f2;
}

.footer__socials {
  text-align: center;
  padding: 20px 74px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.footer__logo {
  padding: 39px 76px 32px;
}

.footer__logo-academy {
  padding: 28px 20px 32px;
}

.footer__link {
  display: inline-block;
  opacity: 0.28;
}

@media (min-width: 768px) {
  .footer {
    width: auto;
  }

  .footer-wrapper {
    padding: 58px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__socials {
    border: none;
  }
}
@media (min-width: 1200px) {
  .footer {
    width: auto;
  }
}
.socials__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__link:not(:nth-child(3)) {
  margin-right: 24px;
}

.logo-academy__link-academy {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #444444;
}

.catalog {
  margin: 0;
  padding: 27px 0 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.catalog__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0 20px 41px;
  border-bottom: 1px solid #ebebeb;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__card {
  margin: 0;
  margin-top: 8px;
  padding: 11px 18px 25px 20px;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 13px;
}

.card__list-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #444444;
}

.card__link {
  display: inline-block;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  text-decoration: none;
  color: #222222;
  max-width: 76px;
}

.card__link-title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.card__link-img {
  padding: 11px 28px 0;
}

.card__img {
  width: 68px;
  height: 78px;
}

.list-description__value {
  margin: 0;
  padding: 0;
}

.list-description__key {
  margin: 0;
  padding: 0;
}

.button {
  margin: 0;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 129%;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 94px;
}

.pagination {
  margin: 25px 20px;
  padding: 0;
}

.pagination__text {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
}

.pagination__text-description {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  font-size: 12px;
  line-height: 133%;
  color: #444444;
  text-align: center;
}

.catalog-add {
  margin: 0;
}

.catalog-add__title {
  margin: 0;
  padding: 25px 20px 36px;
  border-bottom: 1px solid #ebebeb;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
}

.catalog-add__list {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
}

.catalog-add__card-add {
  padding-top: 13px;
}

.card-add__weight {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  line-height: 14px;
}

.card-add__title {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  text-transform: uppercase;
}

.card-add__price {
  margin: 0;
  padding: 0;
  line-height: 100%;
  text-align: right;
  color: #444444;
}

.catalog-promo {
  margin: 35px 20px;
  padding: 0;
  background-color: #68b738;
  background-image: url("../img/catalog_background.jpg");
}

.catalog-promo__text {
  margin: 0;
  padding: 0 61px 43px 58px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 125%;
}

.catalog-promo__icon {
  padding: 58px 101px 48px;
  width: 78px;
  height: 80px;
  text-align: center;
}

.form {
  margin: 0;
  padding: 27px 20px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #444444;
}

.form__title {
  margin: 0;
  padding: 0;
  padding-bottom: 37px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
}

.form__text {
  margin: 0;
  padding: 0 0 39px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: #000000;
}

.form__meta {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 114%;
  color: #000000;
  text-align: center;
}

.filter__about {
  margin: 0;
  padding: 0;
  padding-bottom: 11px;
  border: none;
}

.filter__about-label {
  margin: 0;
  padding: 0;
  padding-left: 13px;
}

.filter__about-field {
  margin: 0 0 13px;
  padding: 13px 15px;
  border: 1px solid #e7e7e7;
  -webkit-appearance: none;
          appearance: none;
}

.filter__radio {
  margin: 0;
  padding: 22px 20px 19px;
  border: none;
}

.filter__radio-label {
  margin: 0;
  padding: 0;
  padding-left: 45px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__item {
  padding-bottom: 13px;
}

.filter__contacts {
  margin: 0;
  padding: 26px 20px 23px;
  border: none;
}

.filter__contacts-subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: #000000;
}

.filter__contacts-label {
  margin: 0;
  padding: 0;
  padding-right: 11px;
}

.filter__contacts-field {
  margin: 0 0 13px;
  padding: 13px 15px;
  border: 1px solid #e7e7e7;
  -webkit-appearance: none;
          appearance: none;
}

.filter__comment {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  border: none;
}

.filter__comment-subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: #000000;
}

.filter__comment-label {
  margin: 0;
  padding: 0;
}

.filter__comment-field {
  margin: 0;
  padding: 13px 15px;
  min-height: 150px;
  border: 1px solid #e7e7e7;
  -webkit-appearance: none;
          appearance: none;
}

.filter__checkbox {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 11px;
  border: none;
}

.filter__checkbox-subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: #000000;
}

.filter__checkbox-label {
  margin: 0;
  padding: 0;
  padding-left: 44px;
  padding-bottom: 13px;
}

.filter__checkbox-field {
  margin: 0;
  padding: 0;
}

.filter__button {
  margin-bottom: 21px;
  padding: 7px 44px;
}
/*# sourceMappingURL=style.css.map */